html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  font-family: 'font', sans-serif;
}

.content {
  padding: 2rem 1 rem;
}
h2 {
  margin: 0 0 1em;
}
ul {
  margin: 0;
  display: inline-block;
  padding-left: 1em;
}
ul:not(:last-child) {
  margin: 0 2em 1em 0;
}
.example:not(:last-child) {
  margin-bottom: 2rem;
}
