/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  font-family: 'font', sans-serif;
} */




h1 {
  font-size: 30px;
  font-style: italic;
  color: yellowgreen;
}
